body {
  margin: 0;
  padding: 0;
    
 font-family: "Roboto", "Arial", sans-serif;
 font-size: 14px;
 line-height: 24px;
 font-weight: 700;
 color:black;
 text-transform:;
    
 background-color:;
 background-image:;
 background-position: top center;
 background-repeat: no-repeat;

}