body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 10px;
  line-height: 1;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-align: left;  
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: #000000;
}
p { font-size: 16px;
    color: #283136;
    
}
.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #eeeeee;
}
.site-navigation {
  list-style: none;
}
.site-navigation a {
  color: #000000;
}
.list-orders {
list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus{
  background-color: #fb565a ;
}
.slider {
  text-align: left;
  color: #000000;

  background-color: #eeeeee; 
  background-position: 0 0;
  background-repeat: repeat;
}
.slider b { 
  font-size: 30px;
  line-height: 42px; 
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;   
}
.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
} 
.container {
    
}
.container h3 {
    font-size: 24px;
    
}
.about-studio {
    
}
.about-studio b {
 text-align: left;
 color: #000000;
 font-size: 45px; 
}
.about-studio h3 {
font-size: 16px;
color: #000000;   
}
.list-orders {
    
}
.about-us {
    
    
}
.partners {
     
}
.partners ul {
  list-style: none;
 
}
.map {
    
}
.contacts {
    
}
.main-footer {
  color: #000000;

  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
}
footer-social a {
  color: #000000;
  text-decoration: underline;
}

.footer-social a:hover,
.footer-social a:focus {
  text-decoration: none;
}
.footer-social {
  text-align: left;
}
.footer-social ul {
  list-style: none;
}
.info {
    text-align: center;
    
}
.footer-companies {
 font-size: 36px;   
}